
<div class="container">
  <div class="col-lg-9">
    <label for=""><h5>Existing stylists and thier clients</h5></label>
    <div class="well">
      <% @stylists.each do |stylist| %>
        <h3><a href="/stylist/<%= stylist.id %>"> <%= stylist.name %></h3></a>
        <ul>
          <% clients_for_stylist = Stylist.get_all_clients(stylist.name) %>
          <% clients_for_stylist.each do |client| %>
            <a href="/client/<%= client.id %>/<%= stylist.id %>"><li><%= client.name %></li></a>
          <%end%>
        </ul>
        <form class="" action="/add_client/<%=stylist.id%>/<%= 0 %>" method="post">
          <input type="text" name="add_to_client_name" value="" placeholder="New client name...">
          <button type="submit" class="btn btn-primary" name="button">Add</button>
        </form>
      <%end%>
      <label for=""><h5>Clients with no stylist</h5></label>
      <% no_stylist = Client.get_clients_with_no_stylist %>
      <ul>
        <% no_stylist.each do |client| %>
          <a href="/single_client/<%= client.id %>"><li><%= client.name %></li></a>
        <%end%>
      </ul>
    </div>
  </div>
  <div class="col-lg-3">
    <label for=""><h5>Add Stylist</h5></label>
    <div class="well">
      <form class="" action="/add_stylist" method="post">
        <div class="wrapper" style="text-align:center;" >
          <label for="stylist_name">Stylist</label>
          <div class="wrapper">
            <input type="text" name="stylist_name" value="" placeholder="Stylist Name...">
          </div>
        </div>

        <div class="wrapper" style="text-align:center;padding-top:12px;" >
          <label for="stylist_name">Client</label>
          <div class="wrapper">
            <input type="text" name="client_new_name" value="" placeholder="Client Name...">
          </div>
        </div>
        <div class="wrapper" style="text-align:center;padding-top:12px;">
          <button type="submit" class="btn btn-primary" name="submit_button">Add Match</button>
        </div>
      </form>
    </div>
  </div>
</div>
