
<div class="col-lg-4 col-lg-offset-2">
  <label for=""style="text-align:center;">Clients for: <%= @stylist.name %></label>
  <div class="well" style="text-align:left;">
    <ul>
      <% @clients.each do |client| %>
      <div class="">
          <a href="/client/<%= client.id %>/<%= @stylist.id %>"><li><h5><%=client.name%></h5></li></a>
        <form class="" action="/delete_client/<%= client.id %>/<%= @stylist.id %>" method="post">
          <button type="submit" class="btn btn-danger" name="button">Delete</button>
        </form>
      <%end%>
      </ul>
      <div class="container">
        <form class="" action="/rename_stylist/<%= @stylist.id %>" method="post">
          <input type="text" name="new_stylist_name" value="" placeholder="New stylist name...">
          <button type="submit" class="btn btn-primary" name="button">Change stylist name</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-4">
  <label for=""style="text-align:center;">Add client</label>
  <div class="well">
    <form class="" action="/add_client/<%=@stylist.id%>/<%= 1 %>" method="post">
      <input type="text" name="client_name" value="" placeholder="New client name...">
      <button type="submit" class="btn btn-primary" name="button">Add</button>
    </form>
  </div>
</div>

<div class="col-lg-6 col-lg-offset-3">
  <div class="well">
    <div class="wrapper" style="text-align:center;">
      <form class="" action="/delete_stylist/<%=@stylist.id%>" method="post">
        <input type="text" name="new_stylist_name" value="" placeholder="Transfer clients to...">
        <button type="submit" class="btn btn-danger" name="button">Delete stylist</button>
      </form>
    </div>
  </div>
</div>
